<!-- <p>events-list works!</p>
@if (events && events.length>0 ){
<h1>{{ title }}</h1>
<hr />
<h6>{{ subTitle }}</h6>
@if ((childMessage)){
<p>{{ childMessage }}</p>
}
<div class="container row">
  <input
    type="search"
    id="inputSearch"
    class="form-control"
    placeholder="Search Event by Event
  Name!"
    [(ngModel)]="searchChars"
    (input)="searchEvents()"
  />
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      @for ( col of columns; track $index){
      <th>{{ col }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (event of filteredEvents|paginate:{itemsPerPage:pageSize, currentPage:pageNumber} ;track
    $index){
    <tr>
      <td>
        <span>{{ event.eventCode | lowercaseTrunc }}</span>
      </td>
      <td>
        <span>{{ event.eventName | uppercase }}</span>
      </td>
      <td>
        <span>{{ event.startDate.toString() | dateGlobalization : 'en-EN' }}</span>
      </td>
      <td>
        <span>{{ event.fees | currency : 'INR' }}</span>
      </td>
      <td>
        <button class="btn btn-dark" (click)="onEventSelection(event)">Show Details</button>
      </td>
    </tr>
    }
  </tbody>
</table>
<div class="container text-center my-pagination">
  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>

@if (selectedEvent){
<app-event-details></app-event-details> //comment this line if you uncomment entire code
<app-event-details
  [event]="selectedEvent"
  subTitle="childSubTitle"
  (sendConfirmationMessage)="handleChildMessage($event)"
></app-event-details>

} } @else{
<h1>Sorry, No data found in Database, Please try After sometime!!</h1>
} -->


@if (events && events.length > 0) {
  <h1>{{ title }}</h1>
  <hr />
  <h6>{{ subTitle }}</h6>

  @if (childMessage) {
    <p>{{ childMessage }}</p>
  }

  <div class="container row mb-3">
    <input
      type="search"
      id="inputSearch"
      class="form-control"
      placeholder="Search Event by Event Name!"
      [(ngModel)]="searchChars"
      (input)="searchEvents()"
    />
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th (click)="sortByEventCode()" style="cursor: pointer;">
          Event Code
          <span>{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
        </th>
        <th>Event Name</th>
        <th>Start Date</th>
        <th>Fees</th>
        <th>Show Details</th>
      </tr>
    </thead>

    <tbody>
      @for (event of filteredEvents | paginate: { itemsPerPage: pageSize, currentPage: pageNumber }; track $index) {
        <tr>
          <td>
            <span>{{ event.eventCode | lowercaseTrunc }}</span>
          </td>
          <td>
            <span>{{ event.eventName | uppercase }}</span>
          </td>
          <td>
            <span>{{ event.startDate.toString() | dateGlobalization : 'en-EN' }}</span>
          </td>
          <td>
            <span>{{ event.fees | currency : 'INR' }}</span>
          </td>
          <td>
             <a class="btn btn-dark" [routerLink]="['/events',event.eventId]">Show Details</a>
          </td>
            @if(role==="Hr"){
            <td>
             <a class="btn btn-danger" [routerLink]="['/events',event.eventId]">Cancel Event</a>
          </td>
        }
        </tr>
      }
    </tbody>
  </table>

  <div class="container text-center my-pagination">
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
  </div>

  <!-- @if (selectedEventId>0) {

    @defer(){
    <app-event-details
      [eventId]="selectedEventId"
      [subTitle]="childSubTitle"
      (sendConfirmationMessage)="handleChildMessage($event)"
    ></app-event-details>}@placeholder(minimum 3000ms){
      <h4>please wait! your contents are getting prepared</h4>
    }@error {
      <h4>Something went wrong!</h4>
    }



  } -->
} @else {
  <h1>Sorry, No data found in  Events Database, Please try After sometime!!</h1>
}
