.app-wrapper {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.main-content {
  flex: 1;
  min-width: 0;
}

@media (max-width: 800px) {
  .content-wrapper {
    flex-direction: column;
  }
  
  .main-content {
    width: 100%;
  }
}
